![png](https://s3.amazonaws.com/General_V88/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)

In [ ]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [ ]:
from sqlalchemy import create_engine

In [ ]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "41eibmoZ" # (or whatever password you chose during mysql installation)
db_name = "world"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [ ]:
engine = create_engine(connection)

In [ ]:
q ="""USE SAKILA;
SELECT c.first_name,c.last_name,c.email,a.address,city.city,city.city_id
FROM customer c, address a, city
WHERE city.city_id = 312;"""

pd.read_sql(q, engine)

In [ ]:
q ="""SELECT f.title,f.description,f.release_year,f.rating,f.special_features,category.name
FROM film f,category
WHERE category.name = 'Comedy';"""

pd.read_sql(q, engine)

In [ ]:
q = '''SELECT a.last_name,f.title,f.release_year
FROM actor a, film f
WHERE a.last_name = 'Lollobrigida';'''

pd.read_sql(q, engine)

In [ ]:
q = '''SELECT a.first_name,a.last_name,f.title
FROM actor a, film f
WHERE f.title = 'Bingo Talented';'''

pd.read_sql(q, engine)

In [ ]:
q = '''SELECT c.customer_id, p.amount, AVG(p.amount) AS avg_amount
FROM customer c, payment p
WHERE p.amount > 2*avg_amount;'''

pd.read_sql(q, engine)

In [ ]:
q = '''SELECT c.first_name, c.last_name, COUNT(payment) AS num_payments
FROM customer c, payment
GROUP BY num_payments DESC
LIMIT 5'''

pd.read_sql(q, engine)